<div class="container">
 <ul>
 <% Apply.kinds.each do |kind| %>
 <%= button_to "#{kind}", psuser_apply_path(pspost_id: @pspost.id, kind: kind),
method: :post, class:"btn btn-dark col-2 mt-2" %>
 <% end %>
 </ul>
</div>