<h1>Tus Postulaciones</h1>
<ul>
 <% @pspost.each do |pspost| %>
 <li>
 <%= pspost.title %> -
 <%= pspost.find_kind_psuser_relation(current_psuser) %>
 <p>
 <%= link_to "Mostrar esta publicacion", pspost %>
 </p>
 </li>
 <% end %>
</ul>