<h1><u>Mis Postulaciones</u></h1>

<ul class="mt-4">
 <% @pspost.each do |pspost| %>
 <li class="fs-4">
 <u class="fs-3"><%= pspost.title %></u>
 <%# <%= pspost.find_kind_psuser_relation(current_psuser) %>
 <p>
 <%= link_to "Mostrar esta publicacion", pspost, class:"btn btn-success" %>
</p>
 </li>
 <% end %>
</ul>