<h1><u>Editar Usuario</u></h1>

<%= render "form", psuser: @psuser %>

<br>

<div>
  <%= link_to "Mostrar a este usuario", @psuser,"btn btn-dark" %> |
  <%= link_to "Volver a Usuarios", psusers_path, "btn btn-dark" %>
</div>