<div class="text-center">
 <div class="centrado"><h4><%= link_to "Ingresa Aquí", psposts_path, class:"btn btn-light" %></h4></div>
<%= image_tag 'https://estebanjobs.s3.us-east-2.amazonaws.com/69976.jpg', class:"jobs" %>
</div>