.tcolor {
    color: white;
}

.avatar {
    width: 4%;
}

.jobs {
 width: 90%;
}

.color{
    background-color: #bcbac9;
}

.centrado {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
}