<h1><u>Editar esta publicación</u></h1>

<%= render "form", pspost: @pspost %>

<br>

<div>
  <%= link_to "Mostrar esta publicación", @pspost, class:"btn btn-dark" %> |
  <%= link_to "Volver a publicaciones", psposts_path, class:"btn btn-dark" %>
</div>
