<p style="color: green"><%= notice %></p>

<h1>Ofertas Laborales</h1>



<div class=" mb-3 text-center ">
<% if Psuser.first == current_psuser %>
<%= link_to "Sube una nueva Publicación", new_pspost_path, class: "btn btn-success" %>
<% end %>
</div>

<div id="psposts">

  <% @psposts.each do |pspost| %>
    <%= render pspost %>
    <p>
      <%= link_to "Ingresar a esta publicacion", pspost, class:"btn btn-dark" %>
    </p>
  <% end %>
 
</div>


</div>